body {
    background-image: url("../img/background.jpg");
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input, button {
font-family: 'Nunito', sans-serif;
font-weight: 700;
}

#add_div {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    position: relative;
}

#add_div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 14px 0px;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
    transition: 0.3s;
}

#add_div focus {
    border: 1px solid #777;
}

#add_div button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 14px 20px;
    display: block;
    
    transition: 0.3s;
    align-items: center;
    
}

#add_div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}

#addBtn{
    float: left;
    width: 50%;
}

#cancelBtn{
    float: right;
    width: 50%;
}